body {
  text-align: center;
}

.btn {
  background-color: transparent;
  font-size: 30px;
  padding: 10px 20px;
  border: 3px solid palevioletred;
  transition: .3s;
}

.btn:hover {
  color: white;
  background: black;
}

.btn:hover+.squere {
  width: 100px;
  height: 100px;
  top: calc(100% - 100px);
  left: calc(100% - 100px);
  /* transform: translate(calc(100vw - 100px), calc(100vh - 100px)); */
}

.squere {
  position: absolute;
  top: 0;
  left: 0;

  width: 10px;
  height: 10px;
  background-color: black;
  transition: top 1s .3s, left 1s, width 1s, height 1s;
}