* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 300px 50px 1fr 50px;
    grid-template-areas: "baner baner""menu menu""blog column""stopka stopka";
    max-width: 1200px;
    margin: 0 auto;


    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;

}

header {
    grid-area: baner;
    background-color: #45e;
}

nav {
    grid-area: menu;
    background-color: rgb(68, 238, 210);
}

main {
    grid-area: blog;
    background-color: rgb(238, 221, 68);
}

aside {
    grid-area: column;
    background-color: rgb(238, 68, 195);
}

footer {
    grid-area: stopka;
    background-color: rgb(238, 136, 68);
}

@media(max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 300px 2fr 200px 50px;
        grid-template-areas: "menu""baner""blog""column""stopka";

    }
}